<div id="mainBody">
    <div class="row">
        <div id="viewRecord" class="col-md-6 col-sm-6 col-xs-12 recordBlock">
            <i class="fas fa-address-card"></i>
            <p>View a Record</p>
        </div>
        <div id="addRecord" class="col-md-6 col-sm-6 col-xs-12 recordBlock">
            <i class="fas fa-plus"></i>
            <p>Add Record</p>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/renderTools")


  }